<head>
    <title><%=titulo%></title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-select.css" rel="stylesheet">
    <link href="css/extension.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="plugin/modernizr/modernizr-2.6.2/js/modernizr-2.6.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="plugin/ico/8112icon.ico">
    <!-- alertify  -->
    <link rel="stylesheet" href="plugin/alertify/css/alertify.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/default.min.css">
    <link rel="stylesheet" href="plugin/alertify/css/themes/semantic.min.css">
</head>