.navigation-clean {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
  }
  
  @media (min-width:768px) {
    .navigation-clean {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  .navigation-clean .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .navigation-clean .navbar-brand:hover {
    color: #222;
  }
  
  .navigation-clean .navbar-toggler {
    border-color: #ddd;
  }
  
  .navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
    background: none;
  }
  
  .navigation-clean .navbar-toggler {
    color: #888;
  }
  
  .navigation-clean .navbar-collapse, .navigation-clean .form-inline {
    border-top-color: #ddd;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
  }
  
  .navigation-clean.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link {
    color: #465765;
  }
  
  .navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
  }
  
  .navigation-clean .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
  }
  
  .navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
  }
  
  .dark-nav-cus {
    background: #2a2f32;
    border-bottom: 3px solid #31bcc8;
  }
  
  .active.items {
    background-color: #111;
    color: #fcfcfc;
    pointer-events: auto;
    text-decoration: none;
    text-shadow: none;
  }
  
  .nav {
    position: relative;
    left: 0;
    float: left;
    margin: 0 10px 0 0;
  }
  
  a {
  }
  
  .items a {
    color: #fff;
  }
  
  .btn-lik {
    border-right: 1px solid #fff !important;
  }
  
  .btn-well {
    border-color: #ffffff;
    background-color: #f6f7fe;
    background-image: none;
    color: #878a92 !important;
    text-shadow: 0px 1px 0 #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 4px 10px;
    cursor: pointer;
  }
  
  .dark-title {
    color: #000;
  }
  
  thead {
    background: #000;
    color: #fff;
  }
  
  tr th {
    border-right: 1px solid #fff;
  }
  
  .table-sm td, .table-sm th {
    padding: 3px;
  }
  
  .card-header-style {
    background: rgba(45,50,54,0);
  }
  
  .btn-wells a:hover {
    color: #faf9f9 !important;
    text-decoration: inherit !important;
  }
  
  .btn-wells {
    border-color: #ffffff;
    background-color: #31bcc8;
    background-image: none;
    color: #878a92 !important;
    text-shadow: 0px 1px 0 #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 7px 12px;
    cursor: pointer !important;
  }
  
  .btn-wells a {
    color: #fffdfd !important;
  }
  
  .list-inline-item:not(:last-child) {
    margin-right: .1rem;
  }
  
  .widget {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    margin-bottom: 6px !important;
  }
  
  .widget-simple {
    padding: 0px 25px;
    border: 1px solid #ffffff00;
    background-color: #f5f6f900;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  }
  
  .widget-header {
    position: relative;
    padding: 5px 0 4px;
    min-height: 30px;
    border-bottom: 1px solid #c8cbd0;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    -webkit-background-clip: padding-box;
  }
  
  .split {
    content: '';
    display: inline-block;
    background: #3333338f;
    margin: 0;
    height: 21px;
    width: 1px;
    vertical-align: top;
  }
  
  .widget-tool a {
    float: right;
    color: #333333;
    text-align: right;
    line-height: 30px;
    margin-top: -48px;
  }
  
  .widget-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
  }
  
  ..widget-body {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #c3c6cb;
  }
  
  .widget-body {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #c3c6cb;
  }
  
  .card-title {
    margin-bottom: 0px !important;
    font-weight: 700;
  }
  
  .card-header {
    padding: 6px;
  }
  
  .Ctr-streaps {
    background: #000;
    color: #fff;
  }
  
  .btn-lik a {
    color: #fff !important;
  }
  
    