<!DOCTYPE html>
<html>
<% include ./partial/head %>
<link href="css/config/config.css" rel="stylesheet">
<body class="header-sticky sidebar-left ng-cloak" ng-app="startAPP">
    <% include ./partial/header %>
    <!--CONTENIDO-->
    <div id="main-container">
        <!--MENU LEFT-->
        <% include ./partial/menu-left %>
        <div id="main-content" class="main-content container-fluid">
            <div class="filler filler"></div>
            <div id="page-content" class="page-content">
                <nav>
                    <ul class="btn-toolbar page-nav margin-btn">
                    
                        <li>
                            <a class="btn btn-well btn-glyph" href="widgets-post.html" style="width: 80px">
                                <i class="fontello-icon-list-add f30"></i>
                                <span class="block">PROYECTO</span>
                            </a>
                        </li>
                        <li><a class="btn btn-well btn-glyph" href="contact-list.html" style="width: 80px"><i
                                    class="fontello-icon-vcard f30"></i><span class="block">CONTACTS</span></a></li>
                        <li><a class="btn btn-well btn-glyph" href="#updateModal" style="width: 80px" data-toggle="modal"><i
                                    class="fontello-icon-edit f30"></i><span class="block">ARTICLE</span></a></li>
                        <li><a class="btn btn-well btn-glyph" href="#updateModal" style="width: 80px" data-toggle="modal"><i
                                    class="fontello-icon-comment-4 f30"></i><span class="block">COMMENTS</span></a></li>
                        <li><a class="btn btn-well btn-glyph" href="#updateModal" style="width: 80px" data-toggle="modal"><i
                                    class="fontello-icon-back-in-time f30"></i><span class="block">ACTIVITY</span></a></li>
                        <li><a class="btn btn-well btn-glyph" href="#updateModal" style="width: 85px" data-toggle="modal"><i
                                    class="fontello-icon-arrows-cw f30"></i><span class="block">LAST
                                    UPDATE</span></a></li>
                    </ul>
                    <hr class="margin-0x">
                </nav>
              
            </div>
            <!-- // page content -->

        </div>
    </div>
    <!--CONTENIDO-->

    <% include ./partial/footer %>
    <% include ./partial/script %>
</body>

</html>