<!DOCTYPE html>
<html>
<% include ./partials/head %>
<link href="css/caja/caja.css" rel="stylesheet">

<body class="header-sticky sidebar-left sidebar-hidden" ng-app="startAPP" ng-cloak>
    <div class="page-container">
        <% include ./partials/header %>
        <!--CONTENIDO-->
        <div id="main-container">
            <!--MENU LEFT-->

            <div id="main-content" class="main-content container-fluid">
                <div class="filler filler"></div>
                <div id="page-content" class="page-content">
                    <nav>
                        <ul class="btn-toolbar page-nav margin-btn nav nav-tabs">
                            <li>
                                <a class="btn btn-well btn-glyph" href="#TabTop1" data-toggle="tab" style="width: 80px">
                                    <i class="fas fa-cash-register fa-3x"></i>
                                    <span class="block">CAJA</span>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-well btn-glyph" href="#TabTop2" data-toggle="tab" style="width: 80px">
                                    <i class="fas fa-file-invoice-dollar fa-3x"></i>
                                    <span class="block">FACTURAS</span>
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-well btn-glyph" href="#TabTop3" data-toggle="tab" style="width: 80px">
                                    <i class="fontello-icon-list-add f30"></i>
                                    <span class="block">ARQUEO</span>
                                </a>
                            </li>

                        </ul>
                        <hr class="margin-0x">
                    </nav>
                    <div class="tab-content">
                        <!--  tab 1 -->
                        <div class="tab-pane" id="TabTop1">
                            <section>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="widget widget-simple widget-table">
                                            <table id="exampleDTCF"
                                                class="table table-striped table-content table-condensed boo-table table-hover bg-blue-light">
                                                <caption>
                                                    Default Table Caption - Title for table <span>Here text in
                                                        span</span>
                                                </caption>
                                                <thead>
                                                    <tr id="HeadersRow0">
                                                        <th scope="col">
                                                            <input type="checkbox" class="checkbox check-all"
                                                                data-tableid="exampleDTCF" value="ON" name="check-all">
                                                        </th>
                                                        <th scope="col">Order ID <span class="column-sorter"></span>
                                                        </th>
                                                        <th scope="col">Customer ID <span class="column-sorter"></span>
                                                        </th>
                                                        <th scope="col">Order Date <span class="column-sorter"></span>
                                                        </th>
                                                        <th scope="col">Shipped Date <span class="column-sorter"></span>
                                                        </th>
                                                        <th scope="col">Freight <span class="column-sorter"></span></th>
                                                    </tr>
                                                    <tr id="filter-row" class="filter">
                                                        <th></th>
                                                        <th>Order ID</th>
                                                        <th>Customer ID</th>
                                                        <th class="hidden-phone hidden-tablet">Order Date</th>
                                                        <th>Shipped Date</th>
                                                        <th>Freight</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr id="FootersRow0" class="total">
                                                        <th></th>
                                                        <th>Total sum</th>
                                                        <th></th>
                                                        <th class="hidden-phone hidden-tablet"></th>
                                                        <th></th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr id="DataRow0">
                                                        <td>
                                                            <input type="checkbox" class="checkbox check-row" value="0"
                                                                name="checkRow"></td>
                                                        <td>10248</td>
                                                        <td>VINET</td>
                                                        <td>04/08/2012</td>
                                                        <td>16/08/2012</td>
                                                        <td>32.38</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- // DATATABLE - DTCF -->

                                        </div>
                                        <!-- // Widget -->

                                    </div>
                                    <!-- // Column -->

                                </div>
                                <!-- // Example row -->

                            </section>

                        </div>
                    </div>
                </div>
            </div>

            <!--CONTENIDO-->
 <!-- hide inject elements-->
 <div class="hide">
        <!-- inject to DTB Table -->
        <div class="DTB_toolBar">
            <ul class="btn-toolbar pull-right">
                <li><a class="btn btn-glyph"><i class="fugue-table"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-pencil"></i>Table</a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-export"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-excel"></i></a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div>
        <!-- // inject -->

        <div class="DTB_resetTable">
            <ul class="btn-toolbar pull-right">
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn"><i class="fugue-arrow-circle"></i></a></li>
            </ul>
        </div>
        <!-- // inject -->

        <!-- inject to DTC Table -->
        <div class="DTC_resetTable">
            <ul class="btn-toolbar pull-right">
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn btn-grey"><i class="fugue-arrow-circle"></i></a></li>
            </ul>
        </div>
        <div id="DTC_toolBar">
            <ul class="btn-toolbar pull-left">
                <li><a class="btn btn-glyph"><i class="fugue-table"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-pencil"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-export"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-excel"></i></a></li>
            </ul>
            <div class="btn-toolbar pull-right margin-00"><a href="javascript:void(0)" class="btn btn-green ">NEW Contact</a> </div>
        </div>
        <div id="DTC_actionTable">
            <div class="btn-toolbar">
                <div class="action-select-wraper">
                    <select name="actionTable" id="actionTable" class="selectpicker margin-right5">
                        <option value="">Select action...</option>
                        <option value="validate">Validate</option>
                        <option value="delete">Export</option>
                        <option value="archiv">Archiv</option>
                    </select>
                    <button type="submit" class="btn btn-blue">Action</button>
                </div>
            </div>
        </div>
        <!-- // inject -->

        <!-- inject to DTCF Table -->
        <div id="DTCF_toolBar">
            <ul class="btn-toolbar pull-right">
                <li>
                    <button class="btn check-view" data-tableid="exampleDTCF">Check View</button>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn btn-green ">NEW Order</a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div>
    </div>



            <!-- CAJA -->
            <div class="modal fade" id="openCashier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                            <h4>APERTURA</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">

                            </div>
                            <!-- ends col-12 -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <% include ./partials/footer %>
        </div>
        <% include ./partials/script %>
        <!-- Component -->




</body>

</html>