<!DOCTYPE html>
<html>
<% include ./partials/head %>
<link href="css/config/config.css" rel="stylesheet">
<link href="css/proyecto/proyecto.css" rel="stylesheet">

<body class="header-sticky sidebar-left ng-cloak" ng-app="startAPP">
  <% include ./partials/header %>
  <!--CONTENIDO-->
  <div id="main-container" ng-controller="configController">
    <!--MENU LEFT-->
    <% include ./partials/menu-left %>
    <div id="main-content" class="main-content container-fluid">
      <div class="filler filler"></div>
      <div id="page-content" class="page-content">
        <nav>
          <ul class="btn-toolbar page-nav margin-btn nav nav-tabs">
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop1" data-toggle="tab" style="width: 80px">
                <i class="fontello-icon-check f30"></i>
                <span class="block">ROLE</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop2" data-toggle="tab" style="width: 80px">
                <i class="fontello-icon-user f30"></i>
                <span class="block">USER</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop3" data-toggle="tab" style="width: 80px">
                <i class="fontello-icon-list-add f30"></i>
                <span class="block">FACTURA</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop4" data-toggle="tab" style="width: 80px"
                data-toggle="modal">
                <i class="fontello-icon-cc-remix f30"></i>
                <span class="block">MODULOS</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop5" data-toggle="tab" style="width: 80px">
                <i class="fontello-icon-vcard f30"></i>
                <span class="block">CONTACTOS</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#TabTop6" data-toggle="tab" style="width: 80px">
                <i class="fontello-icon-th-3 f30"></i>
                <span class="block">PROYECTO</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#updateModal" style="width: 80px" data-toggle="modal">
                <i class="fontello-icon-back-in-time f30"></i>
                <span class="block">ACTIVITY</span>
              </a>
            </li>
            <li>
              <a class="btn btn-well btn-glyph" href="#updateModal" style="width: 85px" data-toggle="modal">
                <i class="fontello-icon-arrows-cw f30"></i>
                <span class="block">LAST UPDATE</span>
              </a>
            </li>
          </ul>
          <hr class="margin-0x">
        </nav>
        <div class="tab-content">
          <!--  tab 1 -->
          <div class="tab-pane" id="TabTop1">
            <div class="row-fluid">
              <div class="span3">
                <div class="well well-nice" ng-show="showRoles">
                  <table class="table table-condensed table-hover margin-00">
                    <caption>
                      Lista de Roles
                      <a class="btn btn-small btn-glyph add" ng-click="ShowAdd()">
                        <i class="fontello-icon-plus-circle"></i>
                      </a>
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="action">Action</th>
                        <th scope="col" class="action">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="config in roles ">
                        <td>{{$index+1}}</td>
                        <td>{{config.name}}</td>
                        <td><i ng-repeat="action in config.module[0].action">{{action.name + " "}}</i>
                        </td>
                        <td class=" text-danger"><i class="icon-trash danger"
                            ng-click="modalVerify(config._id,config.name)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- // Table in well-nice -->
              </div>
              <!-- // Column -->
              <div class="span8" ng-if="showDetails">
                <div class="well well-nice well-impressed">
                  <table class="table table-condensed table-hover margin-00">
                    <caption>
                      DETALLES
                    </caption>
                  </table>
                </div>
                <!-- // Table in well-nice -->
              </div>
              <!-- // Column -->
              <div class="span9" ng-if="showAdd">
                <div class="well well-nice" id="reloadDiv" ng-hide="newRole">
                  <section>
                    <legend>NUEVO ROLE
                      <a class="btn add" ng-click="add()">Salvar</a>
                    </legend>
                    <div class="alert alert-danger alert-dismissable span6" ng-show="showError"
                      style="position: absolute;top: 152px;left: 484px;">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      {{error}}
                    </div>
                    <!-- // form item -->
                    <label for="formA05">NOMBRE:</label>
                    <input id="formA05" class="span6" type="text" placeholder="Nombre del role" ng-blur="check($event)">
                    <p class="help-block"><strong>Nota:</strong> Debe agregar los permisos para el
                      role
                    </p>
                  </section>
                  <section>
                    <legend>PERMISOS</legend>
                    <section ng-repeat="modelos in modules" style="border-bottom: 1px solid #e6e6e6;"
                      id="{{modelos.parent}}">
                      <h5 class="heading-icon" data-icon="" aria-hidden="true" name="moduleParent">
                        {{modelos.parent}}</h5>
                      <div class="btn-group margin-bottom10" id="parent" style="margin-top: -49px;margin-left: 221px;">
                        <button data-parent="parent" class="btn module r" type="button" name="Read"
                          ng-click="check($event)">
                          <span>Read</span>
                        </button>
                        <button data-parent="parent" class="btn module m" type="button" name="Modify"
                          ng-click="check($event)">
                          <span>Modify</span>
                        </button>
                        <button data-parent="parent" class="btn module d" type="button" name="Delete"
                          ng-click="check($event)">
                          <span>Delete</span>
                        </button>
                      </div>
                      <div class="childrens">
                        <div ng-repeat="children in modelos.name">
                          <div class="btn-group mftop margin-bottom10">
                            <button id="{{children.name}}" class="btn sub" type="button"></button>
                          </div>
                          <span name="subModule">{{children.name}}</span>
                          <div class="btn-group margin-bottom10" style="margin-top:4px;margin-left:13px;">
                            <button data-parent="{{children.name}}" class="btn module r" type="button" name="Read"
                              ng-click="check($event)">
                              <span>Read</span>
                            </button>
                            <button data-parent="{{children.name}}" class="btn module m" type="button" name="Modify"
                              ng-click="check($event)">
                              <span>Modify</span>
                            </button>
                            <button data-parent="{{children.name}}" class="btn module d" type="button" name="Delete"
                              ng-click="check($event)">
                              <span>Delete</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </section>
                  </section>
                </div>
                <!-- // Table in well-nice -->
              </div>
              <!-- // Column -->
            </div>
          </div>
          <!-- // tab 2 -->
          <div class="tab-pane" id="TabTop2">
            <div class="widget widget-box widget-table widget-list" ng-show="listUser">
              <div class="widget-header">
                <h4><i class="fontello-icon-user"></i> Informacion del Usuario</h4>
                <button ng-click="seeNewUser()" class="btn btn-primary add" href="javascript:void(0);">
                  <i class="fontello-icon-arrows-cw"></i>New User
                </button>
              </div>
              <table id="lastLogedTable" class="table boo-table table-striped table-hover thumb-small bg-blue-light">
                <thead>
                  <tr class="condensed">
                    <th scope="col"><span class="column-sorter"></span></th>
                    <th scope="col">User <span class="column-sorter"></span></th>
                    <th scope="col">Username <span class="column-sorter"></span></th>
                    <th scope="col">Active <span class="column-sorter"></span></th>
                    <th scope="col">Roles <span class="column-sorter"></span></th>
                    <th scope="col">Status <span class="column-sorter"></span></th>
                    <th scope="col">Last Access <span class="column-sorter"></span></th>
                  </tr>
                </thead>
                <tbody class="media-thumb">
                  <tr class="tbtn" href="#responsive" data-toggle="modal">
                    <td><span class="img-shadow">
                        <img class="media-object thumb"
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTBlVaZW5VZUGFRsoobUv0Lh2J-zvZzLdMFwFFTEvleuTGRAdT"></span>
                    </td>
                    <td>
                      <a href="javascript:void(0)">
                        <h6 class="media-heading">Colin Nixon</h6>
                      </a>
                      <div>semper@example.edu</div>
                    </td>
                    <td>[ <strong>Colix</strong> ]</td>
                    <td><strong>Yes</strong></td>
                    <td>administrator</td>
                    <td><span class="label label-success">online</span></td>
                    <td>
                      <ul class="data">
                        <li><em>2 min 21 sec</em> ago</li>
                        <li>IP address: <strong class="f_ip">133.64.146.145</strong></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="span8 grider" ng-show="newUser">
              <div class="widget widget-simple">
                <div class="widget-header">
                  <h4><i class="booico-user glyph"></i>Nuevo Usuario</h4>
                </div>
                <div class="widget-content">
                  <div class="widget-body">
                    <form id="createUsers" class="form-horizontal" method="" action="">
                      <div class="row-fluid">
                        <div class="span12 form-dark">
                          <fieldset>
                            <ul class="form-list label-left list-bordered dotted">
                              <!-- // section form divider -->
                              <li class="control-group">
                                <label for="accountPrefix" class="control-label">Prefix</label>
                                <div class="controls">
                                  <input id="accountPrefix" class="span6" type="text" value="" name="userCode" />
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountFirstName" class="control-label">Nombre Completo
                                  <span class="required">*</span></label>
                                <div class="controls">
                                  <input id="accountFirstName" class="span11" type="text" name="fullName"
                                    value="" />
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountLastName" class="control-label">Role
                                  <span class="required">*</span></label>
                                <div class="controls">
                                  <input id="accountLastName" class="span11" type="text" name="accountLastName"
                                    value="" />
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountSuffix" class="control-label">Cargo</label>
                                <div class="controls">
                                  <input id="accountSuffix" class="span6" type="text" name="accountSuffix" value="" />
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountGender" class="control-label">Genero</label>
                                <div class="controls">
                                  <input id="accountGenderInput" type="hidden" name="accountGender" value="" />
                                  <div id="accountGender" class="btn-group change" data-toggle="buttons-radio"
                                    data-target="accountGenderInput">
                                    <button type="button" class="btn" class-toggle="btn-green" name="accountGender"
                                      value="male">
                                      <span>Hombre</span>
                                    </button>
                                    <button type="button" class="btn" class-toggle="btn-green" name="accountGender"
                                      value="female">
                                      <span>Mujer</span>
                                    </button>
                                  </div>
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountDob" class="control-label">Fecha de
                                  nacimiento <span class="required">*</span></label>
                                <div class="controls">
                                  <input id="accountDob" class="span6" type="text" name="accountDob" value="" />
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountEmail" class="control-label">Email
                                  <span class="required">*</span></label>
                                <div class="controls">
                                  <div class="input-append block">
                                    <input id="accountEmail" class="span6" type="text" name="email" value="" />
                                    <a class="btn btn-glyph txt-r" data-icon="&#xf47c;" type="button">write an
                                      email</a>
                                  </div>
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountPhoneNumber" class="control-label">Telefono <span
                                    class="required">*</span></label>
                                <div class="controls controls-row">
                                  <input id="accountPhoneNumber" class="span6 maskPhone margin-right5" type="text"
                                    name="accountPhoneNumber" value="" />
                                  <select id="accountPhoneType" class="selectpicker" data-style="btn-info"
                                    data-width="80px" name="accountPhoneType">
                                    <option value="1">Work</option>
                                    <option value="2">Home</option>
                                    <option value="3">Next</option>
                                  </select>
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountFaxNumber" class="control-label">Movile</label>
                                <div class="controls controls-row">
                                  <input id="accountFaxNumber" class="span6 maskPhone margin-right5" type="text"
                                    name="accountFaxNumber" value="" />
                                  <select id="accountFaxType" class="selectpicker" data-style="btn-info"
                                    data-width="80px" name="accountFaxType">
                                    <option value="1">Work</option>
                                    <option value="2">Home</option>
                                    <option value="3">Next</option>
                                  </select>
                                  <a class="btn btn-glyph" data-icon="&#xf067;" href="javascript:void(0);"></a>
                                </div>
                              </li>
                              <!-- // form item -->
                            </ul>
                            <ul class="form-list label-left list-bordered dotted">
                              <li class="control-group">
                                <label for="accountAddressStreet" class="control-label">Direccion <span
                                    class="required">*</span></label>
                                <div class="controls controls-row">
                                  <textarea id="accountAddressStreet" class="span6 margin-right5" type="text"
                                    name="accountAddressStreet"></textarea>
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountAddressCity" class="control-label">Pais <span
                                    class="required">*</span></label>
                                <div class="controls">
                                  <input id="accountAddressCity" class="span6" type="text" value=""
                                    name="accountAddressCity">
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountAddressState" class="control-label">Provincia <span
                                    class="required">*</span></label>
                                <div class="controls">
                                  <select id="accountAddressState" class="span6" name="accountAddressState">
                                    <option value="" selected="selected">Select a
                                      State
                                    </option>
                                  </select>
                                </div>
                              </li>
                              <!-- // form item -->
                              <li class="control-group">
                                <label for="accountAddressCountry" class="control-label">Corregimiento
                                  <span class="required">*</span></label>
                                <div class="controls">
                                  <input id="accountAddressCountryData" type="hidden" value=""
                                    name="accountAddressCountry">
                                  <select id="accountAddressCountry" class="span6" name="accountAddressCountry">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </li>
                              <!-- // form item -->
                            </ul>
                          </fieldset>
                          <!-- // fieldset Input -->
                          <div class="form-actions">
                            <button type="submit" class="btn btn-blue">Submit</button>
                            <button class="btn cancel">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- // Widget -->
            </div>
          </div>
          <!-- // tab 3 -->
          <div class="tab-pane" id="TabTop3">
          </div>
          <!-- // tab 4 -->
          <div class="tab-pane" id="TabTop4">
            <div class="row-fluid">
              <div class="span12">
                <table id="exampleDT" class="table table-striped table-hover">
                  <caption>
                    Modulos Activos en su cuenta
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">ID <span class="column-sorter"></span></th>
                      <th scope="col">Modulo<span class="column-sorter"></span></th>
                      <th scope="col">Padre<span class="column-sorter"></span></th>
                      <th scope="col">Estatus<span class="column-sorter"></span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>FACTURACION</td>
                      <td>CRM - VENTA</td>
                      <td><span class="label label-success pull-left">Active</span></td>
                    </tr>
                  </tbody>
                </table>
                <!-- // DATATABLE Base - DT -->
              </div>
              <!-- // Column -->
            </div>
            <!-- // Example row -->
          </div>
          <!-- // tab 5 -->
          <div class="tab-pane" id="TabTop5">
            <div class="row-fluid">
              <div class="span12">
                <div class="span12">
                  <form id="accounForm" class="form-horizontal form-condensed" method="" action="">
                    <div class="row-fluid">
                      <div class="span9">
                        <div class="control-group no-margin-bottom">
                          <div class="controls pull-fix-left">
                            <h2>Nuevo Contacto</h2>
                          </div>
                        </div>
                      </div>
                      <div class="span3 well-small" style="padding-left: 99px;">
                        <button type="submit" class="btn btn-primary">Save Contact</button>
                        <button class="btn btn-danger cancel">Cancel</button>
                      </div>
                    </div>
                    <div class="row-fluid">
                      <div class="form-dark">
                        <div class="tabbable tabbable-bordered tabbable-nice tabs-top">
                          <ul class="nav nav-tabs padding-side">
                            <li class="active"><a href="#TabBoxTop1" data-toggle="tab">Informacion</a>
                            </li>
                            <li><a href="#TabBoxTop2" data-toggle="tab">Direccion</a></li>
                            <li><a href="#TabBoxTop3" data-toggle="tab">Informacion de empresa</a></li>
                          </ul>
                          <div class="tab-content padding20 overflow" id="equalizeContent">
                            <div class="tab-pane active fade in equalize" id="TabBoxTop1">
                              <fieldset>
                                <ul class="form-list form-condensed list-bordered dotted">
                                  <li class="section-form">
                                    <h4>Informacion Personal</h4>
                                  </li>
                                  <!-- // section form divider -->
                                  <li class="control-group">
                                    <label for="accountTitle" class="control-label">Empresa <span
                                        class="required">!</span></label>
                                    <div class="controls">
                                      <input id="accountTitle" class="span8" type="text" value="" name="accountTitle" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="accountFirstName" class="control-label">Nombre
                                      completo <span class="required">!</span></label>
                                    <div class="controls">
                                      <input id="accountFirstName" class="span8" type="text" name="accountFirstName"
                                        value="" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="section-form">
                                    <h4>Informacion de contacto</h4>
                                  </li>
                                  <!-- // section form divider -->
                                  <li class="control-group">
                                    <label for="accountEmail" class="control-label">Email <span
                                        class="required">!</span></label>
                                    <div class="controls">
                                      <input id="accountEmail" class="span8" type="text" name="accountEmail" value="" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="accountPhoneNumber" class="control-label">Telefono
                                      <span class="required">!</span></label>
                                    <div class="controls controls-row">
                                      <input id="accountPhoneNumber" class="span7 maskPhone margin-right5" type="text"
                                        name="accountPhoneNumber" value="" />
                                      <select id="accountPhoneType" class="selectpicker" data-style="btn-info"
                                        name="accountPhoneType">
                                        <option value="1">Work</option>
                                        <option value="2">Home</option>
                                        <option value="3">Next</option>
                                      </select>
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="accountFaxNumber" class="control-label">Movile</label>
                                    <div class="controls controls-row">
                                      <input id="accountFaxNumber" class="span7 maskPhone margin-right5" type="text"
                                        name="accountFaxNumber" value="" />
                                      <select id="accountFaxType" class="selectpicker" data-style="btn-info"
                                        name="accountFaxType">
                                        <option value="1">Work</option>
                                        <option value="2">Home</option>
                                        <option value="3">Next</option>
                                      </select>
                                      <a class="btn btn-glyph fontello-icon-plus-1" href="javascript:void(0);"></a>
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                </ul>
                              </fieldset>
                            </div>
                            <!-- // tab 1 -->
                            <div class="tab-pane fade" id="TabBoxTop2">
                              <fieldset>
                                <ul class="form-list form-condensed _list-bordered dotted">
                                  <li class="section-form">
                                    <h4>Direccion</h4>
                                  </li>
                                  <!-- // section form divider -->
                                  <li class="control-group">
                                    <label for="accountAddressStreet" class="control-label">Direccion
                                      <span class="required">!</span></label>
                                    <div class="controls controls-row">
                                      <input id="accountAddressStreet" class="span6 margin-right5" type="text" value=""
                                        name="accountAddressStreet" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="accountAddressCity" class="control-label">Pais <span
                                        class="required">!</span></label>
                                    <div class="controls">

                                      <select id="accountAddressCity" class="selectpicker span6s"
                                        name="accountAddressCity">
                                        <option value="">Seleccione pais</option>
                                      </select>
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="accountAddressState" class="control-label">Provincia
                                      <span class="required">!</span></label>
                                    <div class="controls">
                                      <select id="accountAddressState" class="selectpicker span6s"
                                        name="accountAddressState">
                                        <option value="">Seleccione provincia</option>
                                      </select>
                                    </div>
                                  </li>
                                  <!-- // form item -->

                                  <li class="control-group">
                                    <label for="accountAddressCountry" class="control-label">Corregimiento <span
                                        class="required">!</span></label>
                                    <div class="controls">
                                      <input id="accountAddressCountryData" type="hidden" value=""
                                        name="accountAddressCountry">
                                      <select id="accountAddressCountry" class="selectpicker span6s"
                                        name="accountAddressCountry">
                                        <option value="">Seleccione un corregimiento</option>
                                      </select>
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                </ul>
                              </fieldset>
                            </div>
                            <!-- // tab 2 -->
                            <div class="tab-pane fade" id="TabBoxTop3">
                              <fieldset>
                                <ul class="form-list form-condensed _list-bordered dotted">
                                  <li class="section-form">
                                    <h4>Datos de la empresa</h4>
                                  </li>
                                  <!-- // section form divider -->
                                  <li class="control-group">
                                    <label for="departments" class="control-label">Departamento <span
                                        class="required">!</span></label>
                                    <div class="controls controls-row">
                                      <input id="departments" class="span6 margin-right5" type="text" value=""
                                        name="departments" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="departmentsJob" class="control-label">Cargo <span
                                        class="required">!</span></label>
                                    <div class="controls controls-row">
                                      <input id="departmentsJob" class="span6 margin-right5" type="text" value=""
                                        name="departmentsJob" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="departmentsAddressStreet" class="control-label">Direccion <span
                                        class="required">!</span></label>
                                    <div class="controls controls-row">
                                      <input id="departmentsAddressStreet" class="span6 margin-right5" type="text"
                                        value="" name="departmentsAddressStreet" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                  <li class="control-group">
                                    <label for="departmentsAddressCity" class="control-label">RUC
                                      <span class="required">!</span></label>
                                    <div class="controls">
                                      <input id="departmentsAddressCity" class="span6" type="text" value=""
                                        name="departmentsAddressCity" />
                                      <label for="departmentsDV" class="control-label-dv">DV <span
                                          class="required">!</span></label>
                                      <input id="departmentsDV" class="span2" type="text" value=""
                                        name="departmentsAddressCity" />
                                    </div>
                                  </li>
                                  <!-- // form item -->
                                </ul>
                              </fieldset>
                            </div>
                            <!-- // tab 3 -->
                          </div>
                          <!-- // Tab content -->
                        </div>
                        <!-- // Tabs TOP in BOX -->
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- // tab 6 -->
          <div class="tab-pane" id="TabTop6">
            <!-- // page head -->
            <div class="container" ng-controller="proyectController">
              <form class="form-horizontal span12 m0">
                <div class="row form-group">
                  <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                      <li class="active">
                        <a href="#step-1">
                          <h4 class="list-group-item-heading">Generales</h4>
                          <p class="list-group-item-text">Defina las generales del proyecto</p>
                        </a>
                      </li>
                      <li class="">
                        <a href="#step-2">
                          <h4 class="list-group-item-heading">Descripción</h4>
                          <p class="list-group-item-text">Detalle de el proyecto</p>
                        </a>
                      </li>
                      <li class="">
                        <a href="#step-3">
                          <h4 class="list-group-item-heading">Cronograma de Seguimiento</h4>
                          <p class="list-group-item-text">Favor definir todas las variables necesarias</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row setup-content" id="step-1">
                  <div class="container">
                    <div class="row">
                      <div class="span12">
                        <fieldset>
                          <div class="control-group ">
                            <label class="control-label">Nombre de Proyecto</label>
                            <div class="controls">
                              <input type="text" class="input-block-level span4" id="proyectName" ng-model="nameChange"
                                ng-change="updateModel(1,nameChange,'n')">
                            </div>
                          </div>
                          <div class="control-group control-inline">
                            <div class="input-append margin-00">
                              <label class="control-label" style="margin-left: -142px;">Start
                                Date</label>
                              <input id="step1Start" class="input-medium date" type="date" data-date=""
                                data-date-format="dd-mm-yyyy" ng-model="date" ng-change="updateModel(1,date,'ns')">
                            </div>
                          </div>
                          <div class="control-group control-inline-inline">
                            <div class="input-append margin-00">
                              <label class="control-label" style="margin-left: -64px;width: 62px;">End
                                Date</label>
                              <input id="end1Start" class="input-medium date" type="date" data-date=""
                                data-date-format="dd/mm/yyyy" ng-model="date2" ng-change="updateModel(1,date2,'ne')">
                            </div>
                          </div>
                          <div class="alert alert-error" id="alert" style="display: none;">
                            <span class="msg">Ups.. Lo sentimos pero algunos de los campos esta vació
                              favor revisar el formulario</span>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row setup-content" id="step-2">
                  <div class="col-xs-12" style="margin-top: -28px;">
                    <div id="page-content" class="page-content tab-content overflow-y">
                      <div class="row-fluid">
                        <div class="span12 grider">
                          <div class="widget widget-simple">
                            <div class="widget-content">
                              <div class="widget-body">
                                <div class="row-fluid">
                                  <div class="span12 form-dark">
                                    <fieldset>
                                      <ul class="form-list label-left list-bordered dotted">
                                        <li class="section-form">
                                          <h4>Categoria del proyecto</h4>
                                          <div class="alert alert-error span8" id="alert2" style="display: none;">
                                            <span class="msg">Ups.. Seleccione una
                                              categoria</span>
                                          </div>
                                        </li>
                                        <!-- // form item -->
                                        <li class="control-group">
                                          <label for="accountGender" class="control-label">Categorias</label>
                                          <div class="controls">
                                            <input id="accountGenderInput" type="hidden" name="accountGender" value="">
                                            <div id="cotegoryList" class="btn-group change" data-toggle="buttons-radio"
                                              data-target="accountGenderInput">
                                              <button type="button" class="btn" class-toggle="btn-green" id="cat1"
                                                value="male" ng-click="updateModel(2,$event.currentTarget,'cat')">
                                                <span>Administración Complementaria</span>
                                              </button>
                                              <button type="button" class="btn" class-toggle="btn-green" id="cat2"
                                                value="female">
                                                <span>Asesoría e Implementación
                                                  Tecnológica</span>
                                              </button>
                                              <button type="button" class="btn" class-toggle="btn-green" id="cat3"
                                                value="female">
                                                <span>Ventas y Compra</span>
                                              </button>
                                            </div>
                                          </div>
                                        </li>
                                        <!-- // form item -->
                                        <fieldset>
                                          <legend class="section-form">Detalles segun categoria
                                          </legend>
                                          <!-- // form item -->
                                          <div class="control-group">
                                            <label for="accountGender" class="control-label">Beneficiarios</label>
                                            <div class="controls controls-row">
                                              <input class="span1" type="text" placeholder="cantidad"
                                                ng-model="canChange" ng-change="updateModel(2,canChange,'can')">
                                              <input class="span8" type="text" placeholder="tipo de beneficio"
                                                ng-model="benChange" ng-change="updateModel(2,benChange,'ben')">
                                            </div>
                                          </div>
                                          <!-- // form item -->
                                          <div class="control-group">
                                            <label for="accountGender" class="control-label">Rubros</label>
                                            <div class="controls controls-row">
                                              <input id="metaArticleKeywords" class="span9" type="text"
                                                name="metaArticleKeywords" ng-model="rubroChange"
                                                ng-change="updateModel(2,rubroChange,'rubro')" />
                                              <span class="help-block">Escriba o seleccione una
                                                etiqueta y presione "enter" o "coma" para
                                                agregarlos.</span>
                                            </div>
                                          </div>
                                        </fieldset>
                                      </ul>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // Widget -->
                        </div>
                        <!-- // Column -->
                      </div>
                      <!-- // Example row -->
                    </div>
                  </div>
                </div>
                <div class="row setup-content" id="step-3">
                  <div class="span12 span12s" style="margin-top: -28px;">
                    <div id="page-content" class="page-content tab-content">
                      <div class="row-fluid" ng-repeat="models in bitacoraModels">
                        <div class="span12 span12s grider">
                          <div class="widget widget-simple">
                            <div class="widget-content">
                              <div class="widget-body">
                                <div class="row-fluid">
                                  <div class="span12s form-dark">
                                    <fieldset>
                                      <legend class="section-form"> Rubro: {{models.name}} </legend>
                                      <div class="form-actions thumbnail up-button" ng-show="$index === 0">
                                        <button type="submit" class="btn btn-primary">Previous</button>
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                        <button type="button" class="btn btn-wordpress" ng-click="addProject()"><i
                                            class="fontello-icon-publish"></i> Save</button>
                                      </div>
                                      <ul class="form-list label-left list-bordered dotted">
                                        <fieldset>
                                          <legend class="section-form">Task<a
                                              class="btn btn-mini pull-right margin-0s txt-r" data-icon="&#xf067;"
                                              ng-click="addCiclo(models.$$hashKey)">Agregar
                                              task</a> </legend>
                                          <ul class="form-list label-left list-bordered dotted">
                                            <li class="control-group" ng-repeat="task in models.task">
                                              <a class="delete step-delete-c"
                                                ng-click="delCiclo(models.$$hashKey,task.$$hash)" title="Remove row"
                                                ng-show="$index > 0">
                                                <span class="booico-trash delete-fix"></span>
                                              </a>
                                              <label for="accountGender" class="control-label">Task Name<span
                                                  class="required">*</span></label>
                                              <div class="controls controls-row">
                                                <input class="span6" type="text" placeholder="Nombre"
                                                  ng-model="taskChange"
                                                  ng-blur="updateModel(3,taskChange,'task',task.$$hash,models.$$hashKey)">
                                                <input id="cicloStart" class="input-medium date" type="date"
                                                  data-date="" data-date-format="dd-mm-yyyy" ng-model="cicloStart"
                                                  ng-change="updateModel(3,cicloStart,'tsd',task.$$hash,models.$$hashKey)">
                                                <input id="cicloEnd" class="input-medium date" type="date" data-date=""
                                                  data-date-format="dd-mm-yyyy" ng-model="cicloEnd"
                                                  ng-change="updateModel(3,cicloEnd,'ted',task.$$hash,models.$$hashKey)">
                                                <div class="step">
                                                  <a class="btn btn-mini add-step margin-0s txt-r" data-icon="&#xf067;"
                                                    ng-click="addStep(models.$$hashKey,task.$$hash)">Step</a>
                                                  <div class="step-item" ng-repeat="step in task.step">
                                                    <label class="step">Step</label>
                                                    <div class="controls controls-row fix-control-row"
                                                      style="width: 100%;">
                                                      <input class="span5" type="text" placeholder="Nombre"
                                                        ng-model="stepChange"
                                                        ng-blur="updateModel(3,stepChange,'step',task.$$hash,models.$$hashKey,step.$$hash)">
                                                      <input id="stepStart"
                                                        class="input-medium date ng-pristine ng-untouched ng-valid ng-empty"
                                                        type="date" data-date="" data-date-format="dd-mm-yyyy"
                                                        ng-model="stepStartdate"
                                                        ng-change="updateModel(3,stepStartdate,'ss',task.$$hash,models.$$hashKey,step.$$hash)">
                                                      <input id="stepEnd"
                                                        class="input-medium date ng-pristine ng-valid ng-empty ng-touched ng-untouched"
                                                        type="date" data-date="" data-date-format="dd-mm-yyyy"
                                                        ng-model="stepEnddate"
                                                        ng-change="updateModel(3,stepEnddate,'se',task.$$hash,models.$$hashKey,step.$$hash)"
                                                        style="float: right;margin-top: -30px;margin-bottom: 7px;margin-right: 2px;">
                                                      <a class="delete step-delete"
                                                        ng-click="delStep(models.$$hashKey,task.$$hash,step.$$hash)"
                                                        title="Remove row" ng-show="$index > 0">
                                                        <span class="booico-trash delete-fix"></span>
                                                      </a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </li>
                                          </ul>
                                        </fieldset>
                                      </ul>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // Widget -->
                        </div>
                        <!-- // Column -->
                      </div>
                      <!-- // Example row -->
                    </div>
                  </div>
                </div>
              </form>
              <div class="form-actions thumbnail m1" id="down-button">
                <button type="submit" class="btn btn-primary">Previous</button>
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="submit" id="next" class="btn btn-primary">Next</button>
              </div>
            </div>
            <!-- // page content -->
          </div>
        </div>
      </div>
      <!-- // page content -->
    </div>

    <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar el Modulo {{nameModule}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="d-flex justify-content-center">Desea Eliminar el Modulo <b>{{nameModule}}</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-danger" id={{id}} ng-click="deleteRole(this.id)">SI</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal hide fade" tabindex="-1" data-width="375" data-height="250">
    <!--BOX FOR USER INFO OR EDIT INFO-->
    <div class="span4 grider" style="margin-left: 3px;margin-top: 6px;">
      <div id="user-list" class="widget widget-simple widget-user">
        <div class="widget-header">
          <h4><i class="fontello-icon-user"></i>Addresse</h4>
        </div>
        <div class="widget-content">
          <div class="widget-body">
            <ul class="widget-list list-bordered thumb-xxlarge media-overflow">
              <li class="media">
                <div class="media-thumb media-left">
                  <a class="img-shadow" href="javascript:void(0);">
                    <img class="media-object thumb"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTBlVaZW5VZUGFRsoobUv0Lh2J-zvZzLdMFwFFTEvleuTGRAdT"></a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="javascript:void(0);">Karla Maierweisner</a>
                    <span class="label label-success pull-right">Active</span>
                  </h4>
                  <ul class="data">
                    <li>
                      <div class="em black margin-bottom5">manager to manager</div>
                    </li>
                    <li>San Francisco, CA 94107</li>
                    <li>
                      <abbr title="Phone"><i class="fontello-icon-phone opaci75"></i>: </abbr>
                      <strong>(123) 456-7890</strong>
                    </li>
                    <li>
                      <abbr title="Phone"><i class="fontello-icon-mail-4 opaci75"></i>: </abbr>
                      <a href="javascript:void(0);">first.last@example.com</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // Widget -->
    </div>
  </div>
  <div id="DTCF_toolBar">
    <ul class="btn-toolbar pull-right">
      <li class="divider-vertical"></li>
      <li><button ng-click="seeNewUser()" class="btn btn-primary add" href="javascript:void(0);">
          <i class="fontello-icon-arrows-cw"></i>New Module
        </button>
      </li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
  <!--CONTENIDO-->
  <% include ./partials/footer %>
  <div class="modal-container">
    <div id="updateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" style="display: none; margin-top: -124px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel"><i class="fontello-icon-popup"></i>Next :-)</h4>
      </div>
      <div class="modal-body text-center">
        <h3><i class="fontello-icon-user f30"></i>Sorry, this page comes up with next update <small>free after
            purchase</small>
        </h3>
        <p>thanks</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-red" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <% include ./partials/script %>
</body>

</html>