<!DOCTYPE html>
<html>
<% include ./partial/head %>
<link href="css/config/config.css" rel="stylesheet">

<body class="header-sticky sidebar-left ng-cloak" ng-app="startAPP">
    <% include ./partial/header %>
    <!--CONTENIDO-->
    <div id="main-container" ng-controller="configController">
        <!--MENU LEFT-->
        <% include ./partial/menu-left %>
        <div id="main-content" class="main-content container-fluid">
            <div class="filler filler"></div>
            <div id="page-content" class="page-content">
                <nav>
                    <ul class="btn-toolbar page-nav margin-btn nav nav-tabs">
                        <li>
                            <a class="btn btn-well btn-glyph" href="#TabTop1" data-toggle="tab" style="width: 80px">
                                <i class="fontello-icon-check f30"></i>
                                <span class="block">ROLE</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#TabTop2" data-toggle="tab" style="width: 80px">
                                <i class="fontello-icon-user f30"></i>
                                <span class="block">USER</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#TabTop3" data-toggle="tab" style="width: 80px">
                                <i class="fontello-icon-list-add f30"></i>
                                <span class="block">FACTURA</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#TabTop4" data-toggle="tab" style="width: 80px"
                                data-toggle="modal">
                                <i class="fontello-icon-cc-remix f30"></i>
                                <span class="block">MODULOS</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#TabTop5" data-toggle="tab" style="width: 80px">
                                <i class="fontello-icon-vcard f30"></i>
                                <span class="block">CONTACTOS</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#updateModal" style="width: 80px"
                                data-toggle="modal">
                                <i class="fontello-icon-back-in-time f30"></i>
                                <span class="block">ACTIVITY</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-well btn-glyph" href="#updateModal" style="width: 85px"
                                data-toggle="modal">
                                <i class="fontello-icon-arrows-cw f30"></i>
                                <span class="block">LAST UPDATE</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="margin-0x">
                </nav>
                <div class="tab-content">
                    <div class="tab-pane" id="TabTop1">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="well well-nice">
                                    <table class="table table-condensed table-hover margin-00">
                                        <caption>
                                            Lista de Roles
                                            <a class="btn btn-small btn-glyph add" ng-click="ShowAdd()">
                                                <i class="fontello-icon-plus-circle"></i>
                                            </a>
                                        </caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col" class="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="!empty">
                                                <td class="dataTables_empty" colspan="6">No record found

                                                </td>
                                            </tr>
                                            <tr ng-if="empty">
                                                <td>1</td>
                                                <td>Administrador</td>
                                                <td class="action">
                                                    <a class="icon" href="">
                                                        <i class="fontello-icon-search-2" title="detail"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- // Table in well-nice -->

                            </div>
                            <!-- // Column -->

                            <div class="span8" ng-if="showDetails">
                                <div class="well well-nice well-impressed">
                                    <table class="table table-condensed table-hover margin-00">
                                        <caption>
                                            DETALLES
                                        </caption>

                                    </table>
                                </div>
                                <!-- // Table in well-nice -->

                            </div>
                            <!-- // Column -->
                            <div class="span9" ng-if="showAdd">
                                <div class="well well-nice">
                                    <section>
                                        <legend>NUEVO ROLE</legend>

                                        <!-- // form item -->
                                        <label for="formA05">NOMBRE:</label>
                                        <input id="formA05" class="span6" type="text" placeholder="Nombre del role">
                                        <p class="help-block"><strong>Nota:</strong> Debe agregar los permisos para el
                                            role</p>

                                    </section>
                                    <section>
                                        <legend>PERMISOS</legend>
                                        <section ng-repeat="modelos in modules" style="border-bottom: 1px solid #e6e6e6;" id="{{modelos.parent}}">
                                            <h5 class="heading-icon" data-icon="" aria-hidden="true">{{modelos.parent}}</h5>
                                            <div class="btn-group margin-bottom10" id="parent" style="margin-top: -49px;margin-left: 221px;">
                                                <button data-parent="parent" class="btn module r" type="button">
                                                    <span>Read</span>
                                                </button>
                                                <button data-parent="parent" class="btn module m" type="button">
                                                   <span>Modify</span>
                                                </button>
                                                <button data-parent="parent" class="btn module d" type="button">
                                                   <span>Delete</span>
                                                </button>
                                            </div>
                                            <div class="childrens"> 
                                            <div ng-repeat="children in modelos.name">
                                                    <div  class="btn-group mftop margin-bottom10">
                                                            <button id="{{children.name}}" class="btn module sub" type="button"></button>
                                                    </div>
                                                   <span>{{children.name}}</span>
                                                   <div class="btn-group margin-bottom10" style="margin-top:4px;margin-left:13px;">
                                                        <button data-parent="{{children.name}}" class="btn module r" type="button">
                                                            <span>Read</span>
                                                        </button>
                                                        <button data-parent="{{children.name}}" class="btn module m" type="button">
                                                           <span>Modify</span>
                                                        </button>
                                                        <button data-parent="{{children.name}}" class="btn module d" type="button">
                                                           <span>Delete</span>
                                                        </button>
                                                    </div>
                                                </div>      
                                                    
                                            </div>
                                             
                                        </section>

                                    </section>
                                </div>
                                <!-- // Table in well-nice -->

                            </div>
                            <!-- // Column -->
                        </div>
                    </div>
                    <!-- // tab 1 -->

                    <div class="tab-pane" id="TabTop2">
                        <table class="table table-striped table-condensed table-hover bg-grey-light">
                            <caption>
                                Default Table in Tabs <span>Here text in span</span>
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" class="hidden-phone">City</th>
                                    <th scope="col" class="hidden-tablet hidden-phone">Email</th>
                                    <th scope="col">Date of birth</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Colin Nixon</td>
                                    <td class="hidden-phone">Long Beach</td>
                                    <td class="hidden-tablet hidden-phone">semper@diamSeddiam.edu</td>
                                    <td>02/10/1986</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Naida Bennett</td>
                                    <td class="hidden-phone">Lockport</td>
                                    <td class="hidden-tablet hidden-phone">commodo@conseque.ca</td>
                                    <td>04/21/1959</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Danielle Myers</td>
                                    <td class="hidden-phone">Bentonville</td>
                                    <td class="hidden-tablet hidden-phone">nunc.sed@liberoInteger.ca</td>
                                    <td>12/11/1971</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Whitney Jones</td>
                                    <td class="hidden-phone">Troy</td>
                                    <td class="hidden-tablet hidden-phone">Nunc@sedliberoProin.edu</td>
                                    <td>08/09/1976</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Marvin Bell</td>
                                    <td class="hidden-phone">Cody</td>
                                    <td class="hidden-tablet hidden-phone">aliquet@Craspellentesque.com</td>
                                    <td>10/17/1979</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- // tab 2 -->

                    <div class="tab-pane" id="TabTop3">
                        <h5 class="simple-header f16">TABS TOP 3</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetuer tellus justo sed fermentum ut.
                            Ridiculus leo vitae cursus Pellentesque lacus rutrum odio Nam amet pede.
                        </p>
                        <p><a class="btn btn-grey" href="javascript:void(0);">View details »</a></p>
                    </div>
                    <!-- // tab 3 -->

                </div>
            </div>
            <!-- // page content -->

        </div>
    </div>
    <!--CONTENIDO-->

    <% include ./partial/footer %>
    <div class="modal-container">
        <div id="updateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none; margin-top: -124px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="myModalLabel"><i class="fontello-icon-popup"></i>Next :-)</h4>
            </div>
            <div class="modal-body text-center">
                <h3><i class="fontello-icon-user f30"></i>Sorry, this page comes up with next update <small>free after
                        purchase</small></h3>
                <p>thanks</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-red" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <% include ./partial/script %>
    <script src="controller/configController.js"></script>
    <script src="js/config.js"></script>
    
</body>

</html>