<!DOCTYPE html>
<html>
   <% include ./partials/head %>
   <body class="header-sticky sidebar-left ng-cloak" ng-app="startAPP">
      <% include ./partials/header %>
      <div id="main-container">
      <!--MENU LEFT-->
      <% include ./partials/menu-left %>
      <!--CONTENIDO-->
      
      <!--CONTENIDO-->
      </div>
      <% include ./partials/footer %>
      <% include ./partials/script %>
   </body>
</html>