<!DOCTYPE html>
<html>
   <% include ./partial/head %>
   <body class="header-sticky sidebar-left ng-cloak" ng-app="startAPP">
      <% include ./partial/header %>
      <div id="main-container">
      <!--MENU LEFT-->
      <% include ./partial/menu-left %>
      <!--CONTENIDO-->
      
      <!--CONTENIDO-->
      </div>
      <% include ./partial/footer %>
      <% include ./partial/script %>
   </body>
</html>