<!DOCTYPE html>
<html>
   <% include ./partials/head %>
   <link href="css/proyecto/proyecto.css" rel="stylesheet">
   <body class="header-sticky sidebar-left" ng-app="startAPP" class="ng-cloak">
      <% include ./partials/header %>
      <!--CONTENIDO-->
      <div id="main-container">
         <% include ./partials/menu-left %>
         <!-- // sidebar -->
         <div id="main-content" class="main-content container-fluid fix-top">
            <div class="filler"></div>
         
         </div>
         <!-- // main-content -->
      </div>
      <!--CONTENIDO-->
      <% include ./partials/footer %>
      <% include ./partials/script %>
      <script src="plugin/pl-form/bootstrap-select/js/bootstrap-select.js"></script>
      <script src="plugin/pl-form/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
      <script src="plugin/pl-form/select2/js/select2.js"></script>
      <script src="./js/app/funciones-Globales.js"></script>
      <script src="./js/app/proyecto.js"></script>
      <script src="./controller/proyectController.js"></script>
   </body>
</html>