<!DOCTYPE html>
<html>
<% include ./partials/head %>
<link href="css/tools/tools.css" rel="stylesheet">
<link href="css/proyecto/proyecto.css" rel="stylesheet">

<body class="header-sticky sidebar-left sidebar-hidden ng-cloak" ng-app="startAPP">
   <% include ./partials/header %>
   <!--CONTENIDO-->
   <div id="main-container">
      <!--MENU LEFT-->
      <div id="main-content" class="main-content container-fluid">
         <div class="filler filler"></div>
         <div id="page-content" class="page-content">
            <nav>
               <ul class="btn-toolbar page-nav margin-btn">
                  <li>
                     <a class="btn btn-well btn-glyph" href="#TabTop1" data-toggle="tab" style="width: 80px">
                        <i class="fontello-icon-list-add f30"></i>
                        <span class="block">PROYECTO</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph step1" href="#TabTop2" data-toggle="tab" style="width: 90px">
                        <i class="fontello-icon-vcard f30"></i>
                        <span class="block">PRODUCTORES</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph step1" href="#TabTop3" data-toggle="tab" style="width: 90px">
                        <i class="fontello-icon-user-add f30"></i>
                        <span class="block">PROVEEDORES</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph" href="#TabTop4" data-toggle="tab" style="width: 80px"
                        data-toggle="modal">
                        <i class="fontello-icon-leaf-1 f30"></i>
                        <span class="block">PRODUCTOS</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph" href="#TabTop5" data-toggle="tab" style="width: 80px"
                        data-toggle="modal">
                        <i class="fontello-icon-water f30"></i>
                        <span class="block">INSUMOS</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph" href="#TabTop6" data-toggle="tab" style="width: 80px"
                        data-toggle="modal">
                        <i class="fontello-icon-users-2 f30"></i>
                        <span class="block">CLIENTES</span>
                     </a>
                  </li>
                  <li>
                     <a class="btn btn-well btn-glyph" href="#updateModal" style="width: 85px" data-toggle="modal">
                        <i class="fontello-icon-arrows-cw f30"></i>
                        <span class="block">LAST UPDATE</span>
                     </a>
                  </li>
               </ul>
               <hr class="margin-0x">
            </nav>
            <!-- // TAB SECCION -->
            <div class="tab-content">
               <!-- // tab 1 -->
               <div class="tab-pane" id="TabTop1" ng-controller="proyectController">
                  <div id="smartwizard" class="sw-main sw-theme-default">
                     <ul class="nav nav-tabs step-anchor">
                        <li class="nav-item active">
                           <a href="#step-1" class="nav-link active">Generales<br>
                              <small>Defina las generales del proyecto</small>
                           </a>
                        </li>
                        <li class="nav-item disabled">
                           <a href="#step-2" class="nav-link">Descripción<br>
                              <small>Detalle de el proyecto</small>
                           </a>
                        </li>
                        <li class="nav-item disabled">
                           <a href="#step-3" class="nav-link">Cronograma de Seguimiento<br>
                              <small>Favor definir todas las variables necesarias</small>
                           </a>
                        </li>
                     </ul>
                     <div class="btn-toolbar sw-toolbar sw-toolbar-top justify-content-end">
                        <div class="btn-group mr-2 sw-btn-group" role="group">
                           <button class="btn btn-secondary sw-btn-prev hidden" id="previous"
                              type="button">Previous</button>
                           <button class="btn btn-secondary sw-btn-next" type="button" id="next">Next</button>
                        </div>
                        <div class="btn-group mr-2 sw-btn-group-extra hidden" role="group" style="float: right;">
                           <button class="btn btn-info" ng-click="addProject()">Guardar</button>
                           <button class="btn btn-danger">Cancel</button>
                        </div>
                     </div>
                     <div class="sw-container tab-content" style="min-height: 190.6px;">
                        <div id="step-1" class="tab-pane step-content">
                           <div class="alert alert-error" id="alert">
                              <span class="msg">Ups.. Lo sentimos pero algunos de los campos
                                 esta vació favor revisar el formulario</span>
                           </div>
                           <div class="wrap">
                              <div class="mat-div">
                                 <label for="first-name" class="mat-label">Nombre de Proyecto</label>
                                 <input type="text" class="input-block-level mat-input" id="proyectName"
                                    ng-model="nameChange" ng-change="updateModel(1,nameChange,'n')">
                              </div>
                              <div class="mat-div">
                                 <label for="first-name" class="mat-label">Start Date</label>
                                 <input id="step1Start" class="input-medium date mat-input" type="date" data-date=""
                                    data-date-format="dd-mm-yyyy" ng-model="date" ng-change="updateModel(1,date,'ns')">
                              </div>
                              <div class="mat-div">
                                 <label for="address" class="mat-label">End Date</label>
                                 <input id="end1Start" class="input-medium date mat-input" type="date" data-date=""
                                    data-date-format="dd/mm/yyyy" ng-model="date2"
                                    ng-change="updateModel(1,date2,'ne')">
                              </div>
                           </div>
                        </div>
                        <div id="step-2" class="tab-pane step-content">
                           <div class="col-xs-12" style="margin-top: -28px;">
                              <div id="page-content" class="page-content tab-content overflow-y">
                                 <div class="row-fluid">
                                    <div class="span12 grider">
                                       <div class="widget widget-simple">
                                          <div class="widget-content">
                                             <div class="widget-body">
                                                <div class="row-fluid">
                                                   <div class="span12 form-dark">
                                                      <fieldset>
                                                         <ul class="form-list label-left list-bordered dotted">
                                                            <li class="section-form">
                                                               <h4>Categoria del proyecto</h4>
                                                               <div class="alert alert-error span8" id="alert2"
                                                                  style="display: none;">
                                                                  <span class="msg">Ups..
                                                                     Seleccione una
                                                                     categoria</span>
                                                               </div>
                                                            </li>
                                                            <!-- // form item -->
                                                            <li class="control-group">
                                                               <label for="accountGender"
                                                                  class="control-label">Categorias</label>
                                                               <div class="controls">
                                                                  <input id="accountGenderInput" type="hidden"
                                                                     name="accountGender" value="">
                                                                  <div id="cotegoryList" class="btn-group change"
                                                                     data-toggle="buttons-radio"
                                                                     data-target="accountGenderInput">
                                                                     <button type="button" class="btn"
                                                                        class-toggle="btn-green" id="cat1" value="male"
                                                                        ng-click="updateModel(2,$event.currentTarget,'cat')">
                                                                        <span>Administración
                                                                           Complementaria</span>
                                                                     </button>
                                                                     <button type="button" class="btn"
                                                                        class-toggle="btn-green" id="cat2"
                                                                        ng-click="updateModel(2,$event.currentTarget,'cat')"
                                                                        value="female">
                                                                        <span>Asesoría e
                                                                           Implementación
                                                                           Tecnológica</span>
                                                                     </button>
                                                                     <button type="button" class="btn"
                                                                        class-toggle="btn-green" id="cat3"
                                                                        ng-click="updateModel(2,$event.currentTarget,'cat')"
                                                                        value="female">
                                                                        <span>Ventas y
                                                                           Compra</span>
                                                                     </button>
                                                                  </div>
                                                               </div>
                                                            </li>
                                                            <!-- // form item -->
                                                            <fieldset ng-show="showDetailsCat">
                                                               <legend class="section-form">
                                                                  Detalles segun categoria
                                                               </legend>
                                                               <!-- // form item -->
                                                               <div class="control-group">
                                                                  <label for="accountGender"
                                                                     class="control-label">Beneficiarios</label>
                                                                  <div class="controls controls-row">
                                                                     <input class="span1" type="text"
                                                                        placeholder="cantidad" ng-model="canChange"
                                                                        ng-blur="updateModel(2,canChange,'can')">
                                                                     <input class="span8" type="text"
                                                                        placeholder="tipo de beneficio"
                                                                        ng-model="benChange"
                                                                        ng-blur="updateModel(2,benChange,'ben')">
                                                                  </div>
                                                               </div>
                                                               <!-- // form item -->
                                                               <div class="control-group">
                                                                  <label for="accountGender"
                                                                     class="control-label">Rubro</label>
                                                                  <div class="controls controls-row">
                                                                     <select multiple="multiple" class="selecttwo"
                                                                        ng-model="rubroChange"
                                                                        ng-change="updateModel(2,rubroChange,'rubro')">
                                                                        <option value="" selected disabled> Seleccione
                                                                           rubro </option>
                                                                        <option ng-repeat="itemsRubro in RubroList">
                                                                           {{itemsRubro.name}}</option>
                                                                     </select>
                                                                  </div>
                                                               </div>
                                                            </fieldset>
                                                         </ul>
                                                      </fieldset>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- // Widget -->
                                    </div>
                                    <!-- // Column -->
                                 </div>
                                 <!-- // Example row -->
                              </div>
                           </div>
                        </div>
                        <div id="step-3" class="tab-pane step-content">
                           <div class="" style="margin-top: -28px;">
                              <div id="page-content" class="page-content tab-content">
                                 <div class="row-fluid" ng-repeat="models in bitacoraModels">
                                    <div class="span12 grider">
                                       <div class="widget widget-simple">
                                          <div class="widget-content">
                                             <div class="widget-body">
                                                <div class="row-fluid">
                                                   <div class="form-dark">
                                                      <fieldset>
                                                         <legend class="section-form"> Rubro:
                                                            {{models.name}}
                                                         </legend>
                                                         <ul class="form-list label-left list-bordered dotted">
                                                            <fieldset>
                                                               <legend class="section-form">Task<a
                                                                     class="btn btn-mini pull-right margin-0s txt-r"
                                                                     data-icon="&#xf067;"
                                                                     ng-click="addCiclo(models.$$hashKey)">Agregar
                                                                     task</a>
                                                               </legend>
                                                               <ul class="form-list label-left list-bordered dotted">
                                                                  <li class="control-group"
                                                                     ng-repeat="task in models.task">
                                                                     <a class="delete step-delete-c"
                                                                        ng-click="delCiclo(models.$$hashKey,task.hash)"
                                                                        title="Remove row" ng-show="$index > 0">
                                                                        <span class="booico-trash delete-fix"></span>
                                                                     </a>
                                                                     <label for="accountGender"
                                                                        class="control-label">Task
                                                                        Name<span class="required">*</span></label>
                                                                     <div class="controls controls-row">
                                                                        <input class="span6 lm" type="text"
                                                                           placeholder="Nombre" ng-model="taskChange"
                                                                           ng-blur="updateModel(3,taskChange,'task',task.hash,models.$$hashKey)">
                                                                        <input id="cicloStart" class="input-medium date"
                                                                           type="date" data-date=""
                                                                           data-date-format="dd-mm-yyyy"
                                                                           ng-model="cicloStart"
                                                                           ng-change="updateModel(3,cicloStart,'tsd',task.hash,models.$$hashKey)">
                                                                        <input id="cicloEnd" class="input-medium date"
                                                                           type="date" data-date=""
                                                                           data-date-format="dd-mm-yyyy"
                                                                           ng-model="cicloEnd"
                                                                           ng-change="updateModel(3,cicloEnd,'ted',task.hash,models.$$hashKey)">
                                                                        <div class="step">
                                                                           <a class="btn btn-mini add-step margin-0s txt-r"
                                                                              data-icon="&#xf067;"
                                                                              ng-click="addStep(models.$$hashKey,task.hash)">Step</a>
                                                                           <div class="step-item"
                                                                              ng-repeat="step in task.step">
                                                                              <label class="step">Step</label>
                                                                              <div
                                                                                 class="controls controls-row fix-control-row">
                                                                                 <input class="span6 lm" type="text"
                                                                                    placeholder="Nombre"
                                                                                    ng-model="stepChange"
                                                                                    ng-blur="updateModel(3,stepChange,'step',task.hash,models.$$hashKey,step.hash)">
                                                                                 <input id="stepStart"
                                                                                    class="input-medium date ng-pristine ng-untouched ng-valid ng-empty"
                                                                                    type="date" data-date=""
                                                                                    data-date-format="dd-mm-yyyy"
                                                                                    ng-model="stepStartdate"
                                                                                    ng-change="updateModel(3,stepStartdate,'ss',task.hash,models.$$hashKey,step.hash)">
                                                                                 <input id="stepEnd"
                                                                                    class="input-medium date ng-pristine ng-valid ng-empty ng-touched ng-untouched"
                                                                                    type="date" data-date=""
                                                                                    data-date-format="dd-mm-yyyy"
                                                                                    ng-model="stepEnddate"
                                                                                    ng-change="updateModel(3,stepEnddate,'se',task.hash,models.$$hashKey,step.hash)">
                                                                                 <a class="delete step-delete"
                                                                                    ng-click="delStep(models.$$hashKey,task.hash,step.hash)"
                                                                                    title="Remove row"
                                                                                    ng-show="$index > 0">
                                                                                    <span
                                                                                       class="booico-trash delete-fix"></span>
                                                                                 </a>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </li>
                                                               </ul>
                                                            </fieldset>
                                                         </ul>
                                                      </fieldset>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- // Widget -->
                                    </div>
                                    <!-- // Column -->
                                 </div>
                                 <!-- // Example row -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- // tab 2 -->
               <div class="tab-pane" id="TabTop2" ng-controller="productorController">
                  <section>
                     <div class="row-fluid">
                        <form class="form-horizontal span12">
                           <legend class="margin-03">
                              <i class="fontello-icon-quote-left-alt"></i>
                              <span>Agregar Productores</span>
                              <div class="form-actions-s">
                                 <button type="button" ng-click="save()" class="btn btn-blue">Submit &amp;
                                    Validate</button>
                                 <button class="btn cancel">Cancel</button>
                              </div>
                           </legend>
                           <fieldset>
                              <h4 style="color:#569da3;"><i class="booico-user txt-r"></i>Informacion general
                              </h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <li class="control-group">
                                    <label for="wzNewPrefix" class="control-label">Prefix</label>
                                    <div class="controls">
                                       <input id="wzNewPrefix" class="span3" type="text" value="" name="wzNewPrefix"
                                          readonly ng-model="changePrefix" ng-change="createObj(changePrefix,'x')">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewFirstName" class="control-label">Nombre completo<span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzNewFirstName" class="span6" type="text" name="wzNewFirstName"
                                          ng-model="changeName" ng-blur="createObj(changeName,'nm')">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewProject" class="control-label">Proyecto<span
                                          class="required">*</span></label>
                                    <div class="controls select">
                                       <select id="wzNewProject" class="span2" type="text" name="wzNewProject"
                                          ng-model="changeProject" ng-blur="createObj(changeProject,'pj')">
                                          <option value="" disabled>Seleccione projecto</option>
                                          <option value="{{projects._id}}" ng-repeat="projects in project[0]">
                                             {{projects.name}}</option>
                                       </select>
                                    </div>

                                    <div class="controls c00 select" ng-show="showRubro">
                                       <select id="wzNewRubro" class="span2" type="text" name="wzNewRubro"
                                          ng-model="selectedObj" ng-blur="createObj(selectedObj,'rb')">
                                          <option value="" disabled>Seleccione un rubro</option>
                                          <option value="{{rubros.name}}" ng-repeat="rubros in rubro[0]">{{rubros.name}}
                                          </option>
                                       </select>
                                    </div>
                                 </li>
                                 <!-- // form item -->
                              </ul>
                           </fieldset>
                           <fieldset ng-show="showRubro">
                              <h4 style="color:#569da3;"> {{selectedObj}} - Datos de Insumos</h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewHect" class="control-label">Hectarias / Cantidad<span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzNewHect" class="span3" type="text" name="wzNewHect"
                                          ng-model="hectChange" ng-blur="createObj(hectChange,'ha')">
                                    </div>
                                 </li>
                                 <!-- // form item -->

                                 <!--Cantidad de insumo por STEP-->

                                 <!-- // form item -->
                                 <div class="step" ng-repeat="bit in rubroBitacora">
                                    <h4 class="text-center">{{bit.name}}</h4>
                                    <div class="itemStep">
                                       <div class="items" ng-repeat="step in bit.step">

                                          <div class="insumoItems mt-1">

                                             <div class="well clearfix">
                                                <fieldset class="scheduler-border">
                                                   <legend class="scheduler-border">{{step.name}}</legend>
                                                   <div class="form-inline">
                                                      <div class="form-group">
                                                         <label for="exampleInputName">Insumo</label>
                                                         <input type="text" class="form-control insumoName"
                                                            ng-model="name" placeholder="Name">
                                                      </div>
                                                      <div class="form-group">
                                                         <label for="exampleInputage">Cantidad</label>
                                                         <input type="number" class="form-control qtyName"
                                                            ng-model="qty" placeholder="qty" />
                                                      </div>
                                                      <button type="button" class="btn btn-primary"
                                                         ng-click="addRow(step.hash,name,qty,bit.name,step.name)"><i
                                                            class="glyphicon glyphicon-plus"></i>&nbsp;Add Row</button>
                                                   </div>
                                                </fieldset>
                                             </div>

                                             <table class="table table-bordered" id="tbl_employees" style="width: 50%;">
                                                <thead>
                                                   <tr>
                                                      <th style="width: 362px;">Insumo</th>
                                                      <th>Cantidad</th>
                                                      <th style="width: 30px;"></th>
                                                   </tr>
                                                </thead>
                                                <tbody id="{{step.hash}}">

                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                                 <!-- // form item -->
                              </ul>

                           </fieldset>
                           <fieldset>
                              <h4 style="color:#569da3;"><i class="booico-vcard txt-r"></i>Datos personales
                              </h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <li class="control-group">
                                    <label for="wzNewMaritalStatus" class="control-label">Cedula</label>
                                    <div class="controls">
                                       <input id="wzNewMaritalStatus" class="span3" type="text"
                                          name="wzNewMaritalStatus" ng-model="changeCedula"
                                          ng-blur="createObj(changeCedula,'cd')">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="contacPerson" class="control-label">Genero</label>
                                    <div class="controls">
                                       <input id="contacPerson" type="hidden" name="wzNewGender">
                                       <div id="wzNewGender" class="btn-group change" data-toggle="buttons-radio"
                                          data-target="contacPerson">
                                          <button type="button" class="btn" class-toggle="btn-green" name="wzNewGender"
                                             value="male" ng-click="createObj($event.currentTarget,'gr')">&nbsp; Male
                                             &nbsp;</button>
                                          <button type="button" class="btn" class-toggle="btn-green" name="wzNewGender"
                                             value="female"
                                             ng-click="createObj($event.currentTarget,'gr')">Female</button>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzPrice" class="control-label">Fecha de nacimiento <span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzPrice" class="span4" type="text" name="wzPrice"
                                          pattern="^(3[01]|[12][0-9]|0[1-9])/(1[0-2]|0[1-9])/[0-9]{4}$"
                                          placeholder="MM/DD/YYYY" ng-model="changeDob"
                                          ng-blur="createObj(changeDob,'dob')">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewAge" class="control-label">Edad</label>
                                    <div class="controls">
                                       <input id="wzNewAge" class="span4" type="text" name="wzNewAge" readonly>
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewAddress" class="control-label">Direccion completa <span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzNewAddress" class="span6" type="text" name="wzNewAddress"
                                          ng-model="changeFullAddress" ng-blur="createObj(changeFullAddress,'fa')">
                                    </div>
                                 </li>

                              </ul>
                           </fieldset>
                        </form>
                        <!-- // FORM Input fields -->
                     </div>
                  </section>
               </div>
               <!--// Tab 3--->
               <div class="tab-pane" id="TabTop3" ng-controller="proveedorController">
                  <section>
                     <div class="row-fluid">
                        <form class="form-horizontal span12">
                           <legend class="margin-03">
                              <i class="fontello-icon-quote-left-alt"></i>
                              <span>Agregar Proveedor</span>
                              <div class="form-actions-s">
                                 <button type="button" ng-click="addProveedor()" class="btn btn-blue">Submit &amp; Validate</button>
                                 <button class="btn cancel">Cancel</button>
                              </div>
                           </legend>
                           <fieldset>
                              <h4 style="color:#569da3;"><i class="booico-user txt-r"></i>Informacion general
                              </h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <li class="control-group">
                                    <label for="wzNewPrefixProveedor" class="control-label">Prefix</label>
                                    <div class="controls">
                                       <input id="wzNewPrefixProveedor" class="span3" type="text" value=""
                                          name="wzNewPrefixProveedor" readonly ng-model="changePrefixProv" ng-change="">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzPvName" class="control-label">Nombre completo<span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzPvName" class="span6" type="text" name="wzPvName"
                                          ng-model="changeNamePv" ng-blur="createProveedorObj('nm',changeNamePv)">
                                    </div>
                                 </li>
                                 <li class="control-group">
                                    <label for="wzNewAddress" class="control-label">Tipo de Proveedor<span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <select name="" id="" ng-model="typeChange" ng-change="showSecction(typeChange)">
                                          <option value="" label="Seleccione un tipo" disabled selected></option>
                                          <option value="{{type.id}}" label="{{type.name}}"
                                             ng-repeat="type in typeProveedor track by $index"></option>
                                       </select>
                                    </div>
                                 </li>

                                 <fieldset ng-show="showProduct">
                                    <!-- // form item -->
                                    <li class="control-group">
                                       <label for="wzNewProjectp" class="control-label">Proyecto<span
                                             class="required">*</span></label>
                                       <div class="controls select">
                                          <select id="wzNewProjectp" type="text" name="wzNewProjectp"
                                             ng-model="changeProjects"
                                             ng-change="createProveedorObj('pj',changeProjects)">
                                             <option value="" disabled>Seleccione projecto</option>
                                             <option ng-repeat="p in project" value="{{p.name}}">{{p.name}}</option>
                                          </select>
                                       </div>
                                    </li>
                                    <!-- // form item -->
                                    <li class="control-group">

                                       <div class="controls">
                                          <select name="rubro" id="rubro" ng-model="changeRubros" ng-change="createProveedorObj('pjR',changeRubros)">
                                           <option value="" disabled>Seleccione rubro</option>
                                           <option ng-repeat="r in rubro">{{r.name}}</option>
                                          </select>
                                          <!-- <input placeholder="Rubro" type="text" ng-model="changeRubros"
                                             ng-change="createProveedorObj('pjR',changeRubros)" /> -->
                                          <input placeholder="{{ha}}" type="text" class="w70" ng-model="changeHeact" 
                                             ng-blur="createProveedorObj('pjH',changeHeact)" />
                                          <input placeholder="{{u}}" type="text" class="w70" ng-model="changeUMA" 
                                             ng-blur="createProveedorObj('pjU',changeUMA)" />
                                          <input placeholder="Cantidad Produccion" type="text" class="w232ex" value="{{cantidad | number}} {{unidad}}" disabled/>
                                       </div>
                                       <br />
                                       <div class="controls">
                                          <div class="span6" style="width: 49.6%;">
                                             <div class="">
                                                <div class="alert alert-error" id="alert" style="display: none;">
                                                   <span class="msg">Oh snap!</span> </div>
                                                <table class="table">
                                                   <thead>
                                                      <tr>
                                                         <th style="background: transparent !important; border: none !important;">
                                                            <div class="mat-div">
                                                               <label for="first-name" class="mat-label">Siembra</label>
                                                               <input id="step1Start"
                                                                  class="input-medium date mat-input" type="date"
                                                                  data-date="" data-date-format="dd-mm-yyyy"
                                                                  ng-model="dateS" ng-change="createProveedorObj('pSD',dateS)">
                                                            </div>

                                                         </th>
                                                         <th style="background: transparent !important; border: none !important;">
                                                               
                                                            <div class="mat-div">
                                                               <label for="address" class="mat-label">Cosecha</label>
                                                               <input id="end1Start" class="input-medium date mat-input"
                                                                  type="date" data-date="" data-date-format="dd/mm/yyyy"
                                                                  ng-model="dateE"
                                                                  ng-change="createProveedorObj('pED',dateE)">
                                                            </div>
                                                         </th>
                                                      </tr>
                                                   </thead>
                                                </table>
                                             </div>
                                             <!-- // datepicker DATE VALUES -->
                                          </div>
                                       </div>




                                    </li>
                                    <!-- // form item -->
                                 </fieldset>
                                 <fieldset ng-show="showService">
                                    <!-- // form item -->
                                    <li class="control-group">
                                       <label for="typeService" class="control-label">Servicio<span
                                             class="required">*</span></label>
                                       <div class="controls">
                                          <input class="span3" type="text" name="typeService" />
                                       </div>
                                    </li>
                                    <!-- // form item -->
                                 </fieldset>
                                 <fieldset ng-show="showMaquinaria">
                                    <div class="step">
                                       <h4 class="text-center" style="margin-bottom: -10px;">Equipos</h4>
                                       <div class="itemStep">
                                          <div class="items">
                                             <div class="insumoItems mt-1">
                                                <div class="well well-sm clearfix">
                                                   <fieldset class="scheduler-border" style="text-align: center;">
                                                      <legend class="scheduler-border">{{step.name}}</legend>
                                                      <div class="form-inline">
                                                         <div class="form-group">
                                                            <label for="exampleInputName">Marca</label>
                                                            <input type="text" class="form-control" ng-model="brand"
                                                               placeholder="Marca">
                                                         </div>
                                                         <div class="form-group">
                                                            <label for="exampleInputage">Tipo</label>
                                                            <input type="text" class="form-control" ng-model="type"
                                                               placeholder="Clase" />
                                                         </div>
                                                         <div class="form-group">
                                                            <label for="exampleInputage">Modelo</label>
                                                            <input type="text" class="form-control" ng-model="modelo"
                                                               placeholder="Clase" />
                                                         </div>
                                                         <div class="form-group">
                                                            <label for="exampleInputage">Capacidad</label>
                                                            <input type="text" class="form-control" ng-model="modelo"
                                                               placeholder="Clase" />
                                                         </div>
                                                         <button type="button" class="btn btn-primary"
                                                            ng-click="addRow(step.hash,name,qty,bit.name,step.name)"><i
                                                               class="glyphicon glyphicon-plus"></i>&nbsp;Add
                                                            Row</button>
                                                      </div>
                                                   </fieldset>
                                                </div>

                                                <table class="table table-bordered">
                                                   <thead>
                                                      <tr>
                                                         <th style="width: 362px;">Marca</th>
                                                         <th>Tipo</th>
                                                         <th>Modelo</th>
                                                         <th>Capacidad</th>
                                                         <th style="width: 30px;"></th>
                                                      </tr>
                                                   </thead>
                                                   <tbody id="{{step.hash}}">

                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </fieldset>
                                 <fieldset ng-show="showInsumo">
                                    <div class="step">
                                       <h4 class="text-center" style="margin-bottom: -10px;">Insumos</h4>
                                       <div class="itemStep">
                                          <div class="items">

                                             <div class="insumoItems mt-1">

                                                <div class="well well-sm clearfix">
                                                   <fieldset class="scheduler-border">
                                                      <legend class="scheduler-border"></legend>
                                                      <div class="form-inline">
                                                         <div class="form-group">
                                                            <label for="exampleInputName">Marca</label>
                                                            <input type="text" class="form-control" ng-model="name"
                                                               placeholder="Marca">
                                                         </div>
                                                         <div class="form-group">
                                                            <label for="exampleInputage">Nombre</label>
                                                            <input type="text" class="form-control" ng-model="qty"
                                                               placeholder="Nombre" />
                                                         </div>
                                                         <button type="button" class="btn btn-primary"
                                                            ng-click="addRow(step.hash,name,qty,bit.name,step.name)"><i
                                                               class="glyphicon glyphicon-plus"></i>&nbsp;Add
                                                            Row</button>
                                                      </div>
                                                   </fieldset>
                                                </div>

                                                <table class="table table-bordered" id="tbl_employees"
                                                   style="width: 50%;">
                                                   <thead>
                                                      <tr>
                                                         <th style="width: 362px;">Insumo</th>
                                                         <th>Cantidad</th>
                                                         <th style="width: 30px;"></th>
                                                      </tr>
                                                   </thead>
                                                   <tbody id="{{step.hash}}">

                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </fieldset>
                              </ul>
                           </fieldset>
                           <fieldset ng-show="showRubro">
                              <h4 style="color:#569da3;"> {{selectedObj}} - Datos de Insumos</h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewHect" class="control-label">Hectarias / Cantidad<span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzNewHect" class="span3" type="text" name="wzNewHect"
                                          ng-model="hectChange" ng-blur="createObj(hectChange,'ha')">
                                    </div>
                                 </li>
                                 <!-- // form item -->

                                 <!--Cantidad de insumo por STEP-->

                                 <!-- // form item -->
                                 <div class="step" ng-repeat="bit in rubroBitacora">
                                    <h4 class="text-center">{{bit.name}}</h4>
                                    <div class="itemStep">
                                       <div class="items" ng-repeat="step in bit.step">

                                          <div class="insumoItems mt-1">

                                             <div class="well clearfix">
                                                <fieldset class="scheduler-border">
                                                   <legend class="scheduler-border">{{step.name}}</legend>
                                                   <div class="form-inline">
                                                      <div class="form-group">
                                                         <label for="exampleInputName">Insumo</label>
                                                         <input type="text" class="form-control insumoName"
                                                            ng-model="name" placeholder="Name">
                                                      </div>
                                                      <div class="form-group">
                                                         <label for="exampleInputage">Cantidad</label>
                                                         <input type="number" class="form-control qtyName"
                                                            ng-model="qty" placeholder="qty" />
                                                      </div>
                                                      <button type="button" class="btn btn-primary"
                                                         ng-click="addRow(step.hash,name,qty,bit.name,step.name)"><i
                                                            class="glyphicon glyphicon-plus"></i>&nbsp;Add Row</button>
                                                   </div>
                                                </fieldset>
                                             </div>

                                             <table class="table table-bordered" id="tbl_employees" style="width: 50%;">
                                                <thead>
                                                   <tr>
                                                      <th style="width: 362px;">Insumo</th>
                                                      <th>Cantidad</th>
                                                      <th style="width: 30px;"></th>
                                                   </tr>
                                                </thead>
                                                <tbody id="{{step.hash}}">

                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                                 <!-- // form item -->

                              </ul>

                           </fieldset>
                           <fieldset>
                              <h4 style="color:#569da3;"><i class="booico-vcard txt-r"></i>Datos personales
                              </h4>
                              <ul class="form-list label-left list-bordered dotted">
                                 <li class="control-group">
                                    <label for="wzNewMaritalStatus" class="control-label">Cedula / RUC
                                          <span
                                          class="required">*</span>
                                    </label>
                                    <div class="controls">
                                       <input id="wzNewMaritalStatus" class="span3" type="text"
                                          name="wzNewMaritalStatus" ng-model="changeCedula"
                                          ng-blur="createProveedorObj('cd',changeCedula)">
                                    </div>
                                 </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="contacPerson" class="control-label">Persona de Contacto
                                          <span
                                          class="required">*</span>
                                    </label>
                                    <div class="controls">
                                       <input id="contacPerson" type="text" name="contacPerson" ng-model="changePerson"
                                       ng-blur="createProveedorObj('cP',changePerson)">
                                    </div>
                                 </li>
                                 <li class="control-group">
                                       <label for="wzMovile" class="control-label">Movil</label>
                                       <div class="controls">
                                          <input id="wzMovile" type="text" name="wzMovile" ng-model="changeMovile"
                                          ng-blur="createProveedorObj('mV',changeMovile)">
                                       </div>
                                    </li>
                                    <li class="control-group">
                                          <label for="wzPhone" class="control-label">Fijo</label>
                                          <div class="controls">
                                             <input id="wzPhone" type="text" name="wzPhone" ng-model="changePhone"
                                             ng-blur="createProveedorObj('ph',changePhone)">
                                          </div>
                                       </li>
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzPrice" class="control-label">Precio <span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzPrice" class="span4" type="text" name="wzPrice"
                                          placeholder="Precio" value="{{suggestedPrice | currency}}" disabled/>
                                    </div>
                                 </li>
                                
                              
                                 <!-- // form item -->
                                 <li class="control-group">
                                    <label for="wzNewAddress" class="control-label">Direccion completa <span
                                          class="required">*</span></label>
                                    <div class="controls">
                                       <input id="wzNewAddress" class="span6" type="text" name="wzNewAddress"
                                          ng-model="changeFullAddress" ng-blur="createProveedorObj('fa',changeFullAddress)">
                                    </div>
                                 </li>

                              </ul>
                           </fieldset>
                        </form>
                        <!-- // FORM Input fields -->
                     </div>
                  </section>

               </div>
               <!-- // tab 4 -->
               <div class="tab-pane" id="TabTop4">
                  <section>
                     <div class="row-fluid">
                        <form class="form-horizontal span12">
                           <fieldset>
                              <legend class="margin-00">
                                 <i class="fontello-icon-quote-left-alt"></i>
                                 <span>Agregar Producto</span>
                                 <div class="form-actions-s">
                                    <button type="submit" class="btn btn-blue">Submit &amp;
                                       Validate</button>
                                    <button class="btn cancel">Cancel</button>
                                 </div>
                              </legend>
                              <ul class="form-list list-bordered dotted">
                                 <li class="control-group">
                                    <label for="limiteChar" class="control-label">Nombre:</label>
                                    <div class="controls">
                                       <input id="limiteChar" class="span6 limiteChar15 clear-field" type="text">
                                       <div id="limiteChar_counter">
                                          <span id="limiteChar_count"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="limiteWords" class="control-label">Descripcion:</label>
                                    <div class="controls">
                                       <textarea id="limiteWords" rows="3"
                                          class="span6 limiteWords15 clear-field"></textarea>
                                       <div id="limiteWords_counter">
                                          <span id="limiteWords_count"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Precio:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text"
                                          placeholder="enter text and clear">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Unit:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text"
                                          placeholder="enter text and clear">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Alerta:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text"
                                          placeholder="enter text and clear">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                              </ul>
                           </fieldset>
                        </form>
                        <!-- // FORM Input fields -->
                     </div>
                  </section>
               </div>
               <!-- // tab 5 -->
               <div class="tab-pane" id="TabTop5">
                  <section>
                     <div class="row-fluid">
                        <form class="form-horizontal span12">
                           <fieldset>
                              <legend class="margin-00">
                                 <i class="fontello-icon-quote-left-alt"></i>
                                 <span>Agregar Insumos</span>
                                 <div class="form-actions-s">
                                    <button type="submit" class="btn btn-blue">Submit &amp;
                                       Validate</button>
                                    <button class="btn cancel">Cancel</button>
                                 </div>
                              </legend>
                              <ul class="form-list list-bordered dotted">
                                 <li class="control-group">
                                    <label for="limiteChars" class="control-label">Nombre:</label>
                                    <div class="controls">
                                       <input id="limiteChars" class="span6 limiteChar15-s clear-field" type="text">
                                       <div id="limiteChar_counter">
                                          <span id="limiteChar_count"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="limiteWordss" class="control-label">Descripcion:</label>
                                    <div class="controls">
                                       <textarea id="limiteWordss" rows="3"
                                          class="span6 limiteWords15 clear-field"></textarea>
                                       <div id="limiteWords_counter">
                                          <span id="limiteWords_count"></span>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearTexts" class="control-label">Precio:</label>
                                    <div class="controls">
                                       <input id="regularClearTexts" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Unit:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Costo:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Proovedor:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Retencion:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="regularClearText" class="control-label">Alerta:</label>
                                    <div class="controls">
                                       <input id="regularClearText" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                              </ul>
                           </fieldset>
                        </form>
                        <!-- // FORM Input fields -->
                     </div>
                  </section>
               </div>
               <!-- // tab 6 -->
               <div class="tab-pane" id="TabTop6">
                  <section>
                     <div class="row-fluid">
                        <form class="form-horizontal span12">
                           <fieldset>
                              <legend class="margin-00">
                                 <i class="fontello-icon-quote-left-alt"></i>
                                 <span>Agregar Cliente</span>
                                 <div class="form-actions-s">
                                    <button type="submit" class="btn btn-blue">Submit &amp;
                                       Validate</button>
                                    <button class="btn cancel">Cancel</button>
                                 </div>
                              </legend>
                              <ul class="form-list list-bordered dotted">
                                 <li class="control-group">
                                    <label for="custmerName" class="control-label">Nombre completo:</label>
                                    <div class="controls">
                                       <input id="custmerName" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="cedula" class="control-label">Cedula:</label>
                                    <div class="controls">
                                       <input id="cedula" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="address" class="control-label">Direccion:</label>
                                    <div class="controls">
                                       <textarea id="address" rows="3" class="span6 clear-field"></textarea>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="movile" class="control-label">Movile:</label>
                                    <div class="controls">
                                       <input id="movile" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="phone" class="control-label">Telefono:</label>
                                    <div class="controls">
                                       <input id="phone" class="span6 clear-field" type="text">
                                    </div>
                                 </li>
                                 <!-- // control group -->
                                 <li class="control-group">
                                    <label for="obser" class="control-label">Observacion:</label>
                                    <div class="controls">
                                       <textarea id="obser" rows="3" class="span6 obser clear-field"></textarea>
                                    </div>
                                 </li>
                                 <!-- // control group -->
                              </ul>
                           </fieldset>
                        </form>
                        <!-- // FORM Input fields -->
                     </div>
                  </section>
               </div>
               <!-- // tab 7 -->
               <div class="tab-pane" id="TabTop7">
               </div>
            </div>
         </div>
         <!-- // page content -->
      </div>
   </div>
   <!--CONTENIDO-->
   <% include ./partials/footer %>
   <% include ./partials/script %>
   <script src="plugin/pl-form/jquery.counter/js/jquery.counter.min.js"></script>
   <script src="plugin/pl-form/jquery.elastic/js/jquery.elastic.js"></script>
   <script src="plugin/pl-content/bootstrap-wizard/js/jquery.bootstrap.wizard.js"></script>
   <script src="plugin/pl-content/bootstrap-wizard-2/js/bwizard.js"></script>
   <script src="plugin/pl-form/jquery.validation/js/jquery.validate.js"></script>
   <script src="js/app/tools.js"></script>
   <script src="plugin/pl-form/bootstrap-select/js/bootstrap-select.js"></script>
   <script src="plugin/pl-form/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
   <script src="plugin/pl-form/select2/js/select2.js"></script>
   <script src="./js/app/proyecto.js"></script>
   <script src="./json/json.js"></script>
   <script src="./controller/proyectController.js"></script>
   <script src="./controller/productorController.js"></script>
   <script src="./controller/proveedorController.js"></script>
</body>

</html>