.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #009999;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.8);
    text-shadow: none;
}
.fix-top{
    margin-top: -82px;
}
.setup-content{
    display: none;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    color: #ffffff;
    background-color: #009999;
}
.card-default {
    color: #333;
    background: linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
    font-weight: 600;
    border-radius: 6px;
}

#form {
    background-color: #F9F9F9;
  }
  
  .blue {
      color: #2CAFFD;
  }
  
  #inputDado {
      border-radius: 30px;
      border: 1px solid #000;
  }
  .thumbnail {
    padding: 5px;
    background: #f5f5f500;
    border-color: #c8cbd000;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
}


[class*="span"] {
    margin-left: 23px;
}
.form-horizontal .form-actions {
    padding-left: 8px;
}
.input-datapicker{
    width: 250px;
}
.disabled{
    pointer-events:none;
    opacity:0.7;
}
#alert2{
    padding: 2px 0px 0px 11px;
    margin-bottom: 5px;
    margin-top: -30px;
    margin-left: 198px;
    font-size: 13px;
}
.lm{
    min-height: 42px !important;
}
.page-content {
    position: relative;
    padding-bottom: 0px;
    height: 0%;
}
.fix-table{
    position: relative;
    right: 483px;
    width: 49%;
    top: 32px;
}
.date{
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.no-border{
    border: none !important;
    box-shadow: none !important;
    /*display: none !important;*/
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 98%;
    float: none;
    margin-left: -7px;
}
.control-inline{
    position: absolute;
    top: 240px;
    left: 586px;
}
.step-delete{
    float: right;
    position: absolute;
    right: 194px;
    color: red;
    cursor: pointer;
    margin-top: 5px;
}
.step-delete-c{
    float: right;
    position: absolute;
    right: 77px;
    padding-top: 5px;
    color: red;
    cursor: pointer;
}
input[type="date"] {
    position: relative;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    /* This is the calendar icon in FontAwesome */
    width: 15px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 6px;
    color: #999;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
    cursor: pointer;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  input[type="date"]{
      cursor: pointer;
      cursor: pointer;
  }
.control-inline-inline{
    position: absolute;
    top: 238px;
    left: 902px;
}
.up-button{
    float: right;
    margin-top: -47px !important;
    display: none;
    margin-right: 16px;
}
.page-head {
    position: relative;
    margin: 0 -20px;
    padding: 0 20px;
    min-height: 100px;
    border-bottom: 1px solid #babec4;
    background: url(../img/background/body-bg-02-15.jpg) repeat scroll 0 0;
}
.step{
    font-size: 16px;
    margin-bottom: 36px;
    margin-top: 12px;
}
.step-item{
    border-bottom: 1px dotted rgb(0, 0, 0);
    width: 100%;
}
.add-step{
    position: absolute;
    right: 276px;
}
.section-form {
    margin: 0;
    padding: 9px 0 !important;
    min-height: 30px;
    color: #31bcc8;
    font-size: 17.5px;
    line-height: 30px;
    font-weight: bold;
    zoom: 1;
}
.form-actions {
    position: absolute;
    margin-top: 470px;
    /* margin-top: 180px;
    z-index: 100;
    height: -1px; */
}
.fix-control-row{
    margin-right: 64px;
    margin-left: -1px !important;
}
.btn.active, .btn.disabled, .btn[disabled] {
    color: #f5f6f9;
    text-shadow: none;
}
.table thead th {
    background: #009999;
    color: white;
    text-shadow: none !important;
}
.table tbody {
    background: #fbfdfd;
}
.step2-tittle{
    background: #4aa7af;
    color: white;
    padding: 7px;
    height: 17px;
    width: 99%;
    border-radius: 5px;
}
.step2-tittle span{
    position: relative;
    top: -12px;
}
/* .form-inline{
    position: relative;
    top: -30px;
    float: right;
    right: 253px;
} */
.rubrosInput{
    width: 172% !important;
    position: relative;
    right: 68px;
}
.m0{
    margin-left: -81px;
}
.m1{
    margin-left: -97px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
    max-height: 611px !important;
}
.widget-simple {
    padding: 0 15px;
    border: 1px solid #ffffff00;
    background-color: #f5f6f900;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}
.span12s {
    width: 1119px !important;
}
.margin-0s {
    margin-right: 28px !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: #31bcc8;
    border: 1px solid #babec4;
    border-bottom-color: #2c2c2c00;
    color:#fff
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #31bcc8;
    border: 1px solid #babec4;
    border-bottom-color: transparent;
}


.wrap {
    width: 450px;
    margin: 0 auto;
  }
  .hidden{
      display: none;
  }
  .mat-label {
    display: block;
    font-size: 16px;
    transform: translateY(32px);
    color: #000;
    transition: all 0.5s;
    margin-left: 14px;
  }
  
  .mat-input {
    position: relative !important;
    background: transparent !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 8px 0 !important;
    font-size: 16px !important;
    text-align: center !important;
  }
  #alert{
      display: none;
  }
  .mat-div {
    position: relative;
  }
  
  .is-active::after {
    transform: scaleX(1);
  }
  
  .is-active .mat-label {
    color: #8E8DBE;
  }
  
  .is-completed .mat-label {
    font-size: 12px;
    transform: translateY(0);
  }
