<div id="main-sidebar" class="sidebar sidebar-inverse">
    <div class="filler"></div>
    <div class="sidebar-item">
        <div class="media profile">
            <div class="media-thumb media-left thumb-bordereb">
                <a class="img-shadow" href="#">
                    <img class="thumb" src="img/demo/defaultuser.png" alt="avatar"></a>
            </div>
            <div class="media-body">
                <h5 class="media-heading" id="userCode"><small id="roleMember"></small></h5>
                <p id="role" style="display: none;"></p>
                <p id="action" style="display: none;"></p>
                <p class="data" id="lastLogin"></p>
            </div>
        </div>
    </div>
    <!-- // sidebar item - profile -->

    <ul id="mainSideMenu" class="nav nav-list nav-side">

        <!-- // item accordionMenu Dashboard -->
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#accForms" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><span class="item-icon" data-icon="&#xe03b;" aria-hidden="true"></span><i class="chevron"></i>CRM - Ventas</a></div>
            <ul class="accordion-content nav nav-list collapse" id="accForms">
                <li><a href="/invoice">Facturacion</a></li>
                <!-- <li><a href="form-elements.html">Servicios </a></li> -->
                <li><a href="clientes.php">Clientes</a> </li>
                 <li><a href="ventasstadistic.php">Ventas</a> </li>
            </ul>
        </li>
        <!-- // item accordionMenu Forms -->
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#accComponents" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><span class="item-icon" data-icon="&#xe016;" aria-hidden="true"></span><i class="chevron"></i>Stocks </a></div>
            <ul class="accordion-content nav nav-list collapse" id="accComponents">
                <li><a href="notification.html">Insumos </a></li>
                <li><a href="rangeslider.html">Productos </a></li>
            </ul>
        </li>
        <!-- // item accordionMenu Components -->
        <li class="accordion-group ">
            <div class="accordion-heading"><a href="#accTables" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><span class="item-icon" data-icon="&#xf039;" aria-hidden="true"></span><i class="chevron"></i>Produccion Agricola </a></div>
            <ul class="accordion-content nav nav-list collapse" id="accTables">
                <li class=""><a href="/proyecto">Proyecto</a></li>
                <li><a href="productor.php">Productores</a></li>
                <li><a href="table-datatable.html">Rubros </a></li>
            </ul>
        </li>
        <!-- // item accordionMenu Tables -->
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#accStatistics" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><span class="item-icon" data-icon="&#xe0ad;" aria-hidden="true"></span><i class="chevron"></i>Adminstracion</a></div>
            <ul class="accordion-content nav nav-list collapse" id="accStatistics">
                <li><a href="/bitacora">Planificacion</a></li>
                <li><a href="statistic-sparkline.html">Presupuestos </a></li>
                <li><a href="statistic-circle.html">Reportes </a></li>
            </ul>
        </li>
        <!-- // item accordionMenu Statistics 
        <li class="accordion-group">
            <div class="accordion-heading"><a href="#accWidgets" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"><span class="item-icon" data-icon="&#xe00e;" aria-hidden="true"></span><i class="chevron"></i>Produccion Finalizada </a></div>
            <ul class="accordion-content nav nav-list collapse" id="accWidgets">
                <li><a href="widget-style.html">Ciclo de Cosecha </a></li>
                <li><a href="widget-custom.html">Analisis de Produccion </a></li>
            </ul>
        </li>-->
        <!-- // item accordionMenu Custom Page -->
        <li class="accordion-group">
            <div class="accordion-heading">
                <a href="/config" class="accordion-toggle">
                    <span class="item-icon" data-icon="&#xf0c1;" aria-hidden="true">
                    </span><i class="chevron"></i>Configuracion 
                </a>
            </div>
        </li>
        <!-- // item only link -->
    </ul>
    <!-- // sidebar menu -->

    <div class="sidebar-item"></div>
    <!-- // sidebar item -->

</div>
<!-- // sidebar -->
